<!DOCTYPE html>
{% load static %}
{% load humanize %}

{% include "calc/head.html" %} 
<html lang="en">
<body>


    {% if error %}
    <div class="error">
        <br>
        <h4>{{error}}</h4>
        <br><br>
    </div>
    {% endif %}

    <div class="main_div">
        <form method="post">
            {% csrf_token %}

            <h3>{{athlete.firstname}} {{athlete.lastname}}&emsp;<img src={{athlete.profile_medium}}></h3>
            <h4>{% if athlete.premium %}Premium{% else %}Free{% endif %}</h4>
            <body>
                Total Ridden: <span id="total_distance"></span>Km<br>
                4 Weeks:  <span id="recent_distance"></span>Km<br>
                Year to Date: <span id="ytd_distance"></span> Km
                <script>
                    total = {{ athlete.all_ride_totals.distance }}
                    recent = {{ athlete.recent_ride_totals.distance}}
                    ytd = {{ athlete.ytd_ride_totals.distance}}
                    if (total.toString().length > 4) document.getElementById('total_distance').innerText = total.toLocaleString();
                    else document.getElementById('total_distance').innerText = total.toString()
                    if (recent.toString().length > 4)document.getElementById('recent_distance').innerText = recent.toLocaleString();
                    else document.getElementById('recent_distance').innerText = recent.toString()
                    if (ytd.toString().length > 4) document.getElementById('ytd_distance').innerText = ytd.toLocaleString();
                    else document.getElementById('ytd_distance').innerText = ytd.toString();
                </script>


                <br><br>
                Followers: {{athlete.follower_count}}<br>
                Following: {{athlete.friend_count}}<br>
                Gear:
                {% for bike in athlete.bikes %}
                    <div>
                        &emsp;<a href="{% url 'bike' bike.id %}">{{bike.name}}</a> {%if bike.primary%}Primary{% endif %}
                        &emsp;<small>Distance {{bike.converted_distance}}Km</small>
                    </div>
                    
                {% endfor %}
                <br>
                <a href="strava/segments">Segments</a>
            </body>
        </form>        

        <br><br>
        <form method="post">
            {% csrf_token %}
            <button type="submit" value="1" name="refresh"><h2>Refresh Data</h2></button>
        </form>
    </div>
    <br>
    <br><br>
    <div class="main_div">
        <table>
            <tr>
                <th>Name</th>
                <th>Distance</th>
                <th>Elevation</th>
                <th>Date</th>
                <th>Kudos</th>
                <th>Commute</th>
            </tr>
            {% for activity in activities %}
                <tr>
                    <td><a href="{% url 'activity' activity.id %}">{{ activity.name }}</a></td>
                    <td>{{ activity.distance}}Km</td>
                    <td>{{ activity.total_elevation_gain }}m</td>
                    <td>{{ activity.start_date_local}}</td>
                    <td>{{activity.kudos_count}}</td>
                    <td>{{ activity.commute }}</td>
                    
                </tr>
            {% endfor %}
        </table>
    </div>


    <br><br>
<form method="post">
    {% csrf_token %}
    <button type="submit" value="1" name="logout"><h2>Logout of Strava</h2></button>
</form>


</body>
</html>
