<!DOCTYPE html>
{% load static %}
{% load humanize %}

{% include "calc/head.html" %} 
<html lang="en">
<head>
    <style>
        #map {
            width: 100%;
            height: 800px;
        }
    </style>
</head>
<body>

    &emsp;&emsp;&emsp;<button onclick="window.location.href='/strava'">Back</button>

    {% if error %}
    <div class="error">
        <br>
        <h4>{{error}}</h4>
        <br><br>
    </div>
    {% endif %}

    <div class="main_div">
        <h2>Brisbane:</h2>
        <p>Red (R): Bike Racks<br>
        Blue (T): Taps</p>
        <div id='map'></div>
        <small>Data from <a href="https://www.brisbane.qld.gov.au/business-in-brisbane/business-opportunities/open-data">Brisbane Open Data</a></small>

        <script>
            var rackLocations = {{ racks|safe }};
            var tapLocations = {{ taps|safe }};
            var googleMapsKey = null;  // Placeholder, will be updated dynamically
            var map;
            var openInfoWindow;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -27.469705, lng: 153.025196 },
                    zoom: 16
                });

                function createMarker(lat, lng, label, content) {
                    var marker = new google.maps.Marker({
                        position: { lat: lat, lng: lng },
                        map: map,
                        label: label,
                        icon: label === 'R' ? null : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                    });

                    var infowindow = new google.maps.InfoWindow({
                        content: content,
                    });

                    marker.addListener('click', function () {
                        if (openInfoWindow) {
                            openInfoWindow.close();
                        }
                        infowindow.open(map, marker);
                        openInfoWindow = infowindow;
                    });
                }

                rackLocations.forEach(function (rack) {
                    createMarker(parseFloat(rack["Latitude"]), parseFloat(rack["Longitude"]), 'R', `<strong>${rack["Location"]}</strong><br>${rack["Address"]}<br>Capacity: ${rack["Capacity"]}&emsp;Type: ${rack["Rack type"]}`);
                });

                tapLocations.forEach(function (tap) {
                    createMarker(parseFloat(tap["Y"]), parseFloat(tap["X"]), 'T', '<strong>Tap/Drinking Fountain</strong>');
                });
            }

            function fetchGoogleMapsKey() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        if (xhr.status == 200) {
                            googleMapsKey = JSON.parse(xhr.responseText).google_maps_key;
                            loadMapScript();
                        }
                    }
                };
                xhr.open("GET", "/get-google-maps-key/", true);
                xhr.send();
            }

            function loadMapScript() {
                var script = document.createElement('script');
                script.src = 'https://maps.googleapis.com/maps/api/js?key=' + googleMapsKey + '&libraries=geometry&callback=initMap';
                document.body.appendChild(script);
            }

            fetchGoogleMapsKey();
        </script>
    </div>

    <br><br>

</body>
</html>
