
{% include "calc/head.html" %} 
{% load static %}

{% if is_post %}
<div style="background-color: whitesmoke; text-align: center; padding: 3%;">
    <h2>Thanks for your feedback, I'm sure I'll look at it if I rememeber</h2>
    <a href="/calc">Home</a>
</div>
{% else %}
<div style="background-color: whitesmoke; text-align: center; padding: 3%;">
    <h1>Feedback</h1>
    <br><br>
    <body>This website is currently in its 'Alpha' so issues are likely
        <br>Please fill out this form so I can improve it as much as possible
    </body>
    <br><br>

    <form method="post">
        {% csrf_token %}

        Contact: <input name="contact" type="text">
        <br>
        Brief: <textarea name="title" rows="1" cols="50"></textarea>
        <br>
        <br>
        Not So Brief: <br> <textarea name="text_body" rows="10" cols="50"></textarea>
        <br><br><br>
        <button type="submit" style="font-size: xx-large; background-color: orangered;">Send Feedback</button>
         
        
    </form>
</div>
{% endif %}
