
{% include "calc/head.html" %} 
{% load static %}



<div class="main_div">
    <h2>Welcome</h2>
    <body class="main_page">
        This is my website because <a href="https://www.bikecalc.com">Bikecalc</a> has updated away from the old beloved design (don't sue me)
        <br>But seriously I made this as a fun project and hope it helps people, I know I'll use it. 
        <br>Any feedback contact me directly cause people using this know me or use <a href="/calc/feedback">this</a> form
    </body>
</div>
<br><br><br><br><br><br><br><br>
<img style="width: 80%;"
    src="{% static 'calc/images/mybike.JPG' %}" alt="https://marketplacer.imgix.net/Ju/bXgHhJ2byfsGNgAjo_X2TPup4.jpg?auto=format&fm=pjpg&fit=max&q=90&itemprop=image&alt=New%20Shimano%2012-Speed%20Dura-Ace%20R9200%20and%20Ultegra%20R8100%20Groupsets%20Released&w=1600&h=1000&s=f4f8fe69a8c27054ed0e08625482af80" >
    <!-- <br><small style="text-align: center;">Definetly didn't steal this photo</small> -->
    <!-- https://marketplacer.imgix.net/Ju/bXgHhJ2byfsGNgAjo_X2TPup4.jpg?auto=format&fm=pjpg&fit=max&q=90&itemprop=image&alt=New%20Shimano%2012-Speed%20Dura-Ace%20R9200%20and%20Ultegra%20R8100%20Groupsets%20Released&w=1600&h=1000&s=f4f8fe69a8c27054ed0e08625482af80 -->